body {
    background-color: rgb(239, 231, 219); 
} /* Dit is de achtergrondkleur van mijn website.*/ 
ul {
    list-style-type: none; /* dit is mijn horizontale navigation bar*/ 
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e14b4bb6;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #f9c8c8;
  }  
 #ASCII-code-tabel {float:left} 
 #lijstjes {float:left}
 #spelletje {float:inline-end} 
 #footer { 
        background-color: rgb(255, 240, 219);
  } 
 #footer {
 text-align: center;
  margin: right 3%;;  
} 
#binairstelsel, #ASCII-code-tabel {
  display: inline-block;
  margin-right: 20px; /* Ruimte tussen de plaatjes */
  vertical-align: top;
}
/* Video rechts naast de afbeeldingen */
.video {
  float: right;
  margin-top: 20px;
}